<p id="notice"><%= notice %></p>

<h1>Listing Ststus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ststus.each do |ststu| %>
      <tr>
        <td><%= ststu.name %></td>
        <td><%= ststu.content %></td>
        <td><%= link_to 'Show', ststu %></td>
        <td><%= link_to 'Edit', edit_ststu_path(ststu) %></td>
        <td><%= link_to 'Destroy', ststu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ststu', new_ststu_path %>
